name: Release

on:
  release:
    types: [ created ]
jobs:
  release:
    name: Release plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Set environment variables
        run: |
          echo "ORG_GRADLE_PROJECT_version=$(echo ${GITHUB_REF:10})" >> $GITHUB_ENV
          echo "ORG_GRADLE_PROJECT_intellijPublishToken=${{ secrets.intellijPublishToken }}" >> $GITHUB_ENV
          echo "ORG_GRADLE_PROJECT_intellijPublishChannel=''" >> $GITHUB_ENV
      - name: Set alpha channel
        if: ${{ contains(github.ref, '-alpha' )}}
        run: |
          echo "ORG_GRADLE_PROJECT_intellijPublishChannel=alpha" >> $GITHUB_ENV

      - uses: burrunan/gradle-cache-action@v1.5
        if: ${{ contains(github.ref, '-alpha' )}}
        with:
          arguments: publishPlugin

      - uses: burrunan/gradle-cache-action@v1.5
        if: ${{ contains(github.ref, '-nightly' )}}
        with:
          arguments: buildPlugin

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: build/libs/*
          file_glob: true
          overwrite: true
